ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.profile {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  width: 400px;
  border-radius: 5px;
  background-color: rgb(247, 248, 248);
  font-size: 30px;
  box-shadow: 2px 2px 5px rgb(124, 123, 123);
}
.avatar {
  margin-top: 20px;
  width: 350px;
}
.description {
  color: grey;
}
.name {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}

.stats {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: rgb(188, 183, 183);
  justify-content: space-around;

  color: grey;
  font-size: 20px;

  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
}
.label {
  color: rgb(87, 86, 86);
}
.quantity {
  color: black;
  margin: 10px;
  font-weight: bold;
}
