.friend__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.friend__list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  width: 400px;
  background-color: rgb(227, 227, 227);
  box-shadow: 2px 2px 5px rgb(124 123 123);
}
.friend__list .status {
  width: 30px;
  height: 30px;

  border-radius: 50%;
  margin-left: 50px;
}
.on {
  background-color: rgb(61, 166, 0);
}
.off {
  background-color: rgb(197, 58, 4);
}

.friend__list .avatar {
  display: flex;
  width: 50px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.friend__list .name {
  margin-left: 30px;
  font-size: 20px;
}
